html, body {
    position: relative;
    min-height: 100%;
    background-color: rgb(102, 101, 104);
    color:cornsilk;
  }
.portfolio-pics {
  padding-bottom: 20px;
}
#bio {
  padding: 20px;
}
.nav-link {
  color: cornsilk;
}